.main {
    padding-top: 120px;
    background-color: rgb(226, 224, 224);
    width: 100vw;
    height: 100vw;
}

.itemContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}