

.datailsImage {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.detailsOverview {
    width: 50%vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}