.itemCard {
    width: 750px;
    height: 100px;
    display: flex;
    flex-direction: row;
    border: black solid 2px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;  
}

.jerseyPhoto {
    width: 12%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.removeBtn {
    height: 20px;
    margin-right: 10px;
}

.removeBtn:hover {
    background-color: grey;
    cursor: pointer;
}