.itemCard {
    width: 750px;
    height: 100px;
    display: flex;
    flex-direction: row;
    border: black solid 2px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;  
}

.jerseyPhoto {
    width: 12%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.removeBtn {
    height: 30px;
}